<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>

    <!-- Lottie files -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <!-- material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="signup.css">


</head>
<body>
    
    <div class="container">

        <div class="left">
            <p>Logo</p>
            <lottie-player src="https://assets8.lottiefiles.com/private_files/lf30_fe507ybk.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        </div>

        <div class="right">

            <a href="/">
                <label for="back" id="back">
                    <i id="back" class="material-icons">arrow_back_ios</i>
                    back
                </label>
            </a>

            <div class="right-inner">

                <h2>Account Signup</h2>
                <p>Become a member and enjoy exclusive promotions.</p>

                <% if(signupPageError !== undefined) { %>
                    <p style="color: red; align-self: center;"> <%= signupPageError %> </p>
                <% } %>

                <form action="/signup" method="post">

                    <label for="name">Full name</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email">Email addreess</label>
                    <input type="email" id="email" name="email" required>

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" minlength="6" maxlength="15" required>
                    
                    <label for="conf-password">Confirm password</label>
                    <input type="password" id="conf-password" name="confPassword" minlength="6" maxlength="15" required>

                    <input type="submit" value="Create account">
                </form>
            </div>
        </div>
    </div>
</body>
</html>