@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 12px;
}

body {
    background: #E5E5E5;
}

/* div, form {
    display: flex;
} */

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.left, .right, form {
    display: flex;
    flex-direction: column;
}

.left, .right {
    width: 400px;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left {
    background: #2C73EB;
}

.right {
    background: white;
}

.right-inner {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 10px 70px 10px 70px;
    background-color: white;
}

.left p {
    margin: 15px;
    color: white;
    font-size: 16px;
}

lottie-player {
    margin-top: 40px;
    padding-top: 40px;
}

#back i {
    font-size: 10px;
    margin-left: 15px;
    margin-top: 15px;
}

lottie-player {
    align-self: center;
}

h2 {
    font-size: 20px;
    margin: 10px 0 7px 0;
}

.right-inner p {
    margin-bottom: 20px;
    color: #8692A6;
}

label {
    margin: 15px 0 5px 0;
    color: #8692A6;
}

.rememberMe {
    margin-top: 15px;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #2C73EB;
}

input {
    padding: 9px;
    border-radius: 6px;
    outline: none;
    border: 1px solid lightgrey;
}

input[type="email"]:focus, input[type="password"]:focus {
    border: 1px solid #2C73EB;
}

input[type="submit"] {
    background: #2C73EB;
    color: white;
    border: none;
    margin-top: 15px;
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.18);
}

#signup-label {
    color: black;
    align-self: center;
    font-size: 11px;
    margin-top: 30px;
}

#signup-label a {
    font-size: 11px;
}